.loader-container {
  position: fixed;
  overflow: hidden;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 400px;
  width: 100vw;
  background-color: #111;
}

.loader {


  &__absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    bottom: 0;
    transform: translateY(100%);
    opacity: 0;
    transition: .6s ease;
    color: #111;
    background-color: #000;
    z-index: 1002;
  }

  &__inner {
    color: #fff;
    text-align: center;
  }

  &__title {
    position: relative;
    font-size: 6em ;
    text-transform: uppercase;
    color: #212121;
    white-space: nowrap;
    margin: 0;

    &:after {
      content: attr(data-content);
      position: absolute;
      max-width: 100%;
      left: 0;
      color: #212121;
      overflow: hidden;
    }

    &.animate:after {
      color: #fff;
      animation: loading 1.6s ease-in-out forwards;
    }
  }
}

@keyframes loading {
  from { max-width: 0; }
}

@keyframes pop {
  30% {
    transform: scale(1.02);
    opacity: 1;
  }
  100% {
    transform: scale(.3);
    opacity: 0;
  }
}

.slide-in {
  opacity: 1;
  transform: translateY(0%);
  background-color: #111;
}

.loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 2px;
  background-color: #111;
  overflow: hidden;
  z-index: 101;

  &__inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 10px;
    width: 0%;
    background-color: #fff;
    animation: loading-bar 1.6s ease forwards;
  }
}


