.scroller {
  &__scroll {
    position: fixed;
    bottom: 20px;
    left: 50%;
    width: 10%;
    transform: translateX(-50%);
    z-index: 11;
    color: #fff;
    text-align: center;
  }

  &__notion {
    width: 100px;
    color: rgba(255, 255, 255, .8);
    opacity: .2;
    animation: blink 1.5s ease infinite alternate;

  }

  &__inner {
    padding: 15px 10px 10px;
    transform: translateY(0%);
    opacity: 1;
    transition: .6s ease;
    color: #fff;

    & #scroll-icon {
      width: 25px;
      & .scroll-icon__item {
        fill: #fff
      }
    }

    &.noscroll {
      opacity: 0;
      transform: translateY(-100%);
      visibility: hidden;
    }
  }
}

.arrow {
  animation: strive 2s ease infinite;
  transform-origin: 50% 19px;

  &:nth-of-type(2) {
    animation-delay: .3s;
  }
}


@keyframes strive {
  0% {
    opacity: 1;
    transform: translateY(0) ;
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes blink {
 100% {
   opacity: 1;
 }
}
