.team-container {
  background-color: #111;
  color: #fff;
  padding: 200px 0 200px;
  overflow: hidden;

  &__heading {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    padding: 0 8em;

    & h2 {
      margin: 0;
    }

    & h5 {
      margin-bottom: 30px;
    }
  }

  &__inner {
    position: relative;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vw;
    padding: 4em 8em;
    cursor: move;
    transition: .6s;

    &.active {
      background: rgba(255,255,255,0.3);
      cursor: grabbing;
      transform: scale(1.1);
    }

    &::-webkit-scrollbar {    display: none;}
  }

}

.person {

  &__card {
    position: relative;
    margin-right: 100px;
    z-index: 2;

    &:nth-of-type(even){
      margin-top: 50px;
    }
  }

  &__title {
    position: relative;
    z-index: 15;
    margin-bottom: 2em;

    & h5 {
      margin: 0 0 10px;
    }
  }

  &__image {
    position: relative;
    width: 200px;
    overflow: hidden;
    transition: transform .5s ease;
    z-index: 1;
    margin-bottom: 1em;
    -webkit-box-shadow: 0px 0px 24px 20px rgba(0,0,0,0.60);
    -moz-box-shadow:  0px 0px 24px 20px rgba(0,0,0,0.60);
    box-shadow:  0px 0px 24px 20px rgba(0,0,0,0.60);
    pointer-events: none;


    &:hover {
      transform: scale(1.05);
    }


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .8s ease;
    }

    &:hover img {
      transform: scale(1.15);
    }
  }

  &__back {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    transition: .1s ease;
    -webkit-box-shadow: 0px 0px 24px 20px rgba(0,0,0,0.60);
    -moz-box-shadow:  0px 0px 24px 20px rgba(0,0,0,0.60);
    box-shadow:  0px 0px 24px 20px rgba(0,0,0,0.60);
  }

  &__back-inner {
    position: absolute;
    width: 500px;
    height: 600px;
    transform: translate(-50%, -50%);
    opacity: .5;
    background-position: center;
    background-size: cover;

  }

}