* {
  box-sizing: border-box;
  margin: 0
}

body {
  font-family: "Lato-regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#cursor {
  position: absolute;
  box-sizing: border-box;
  z-index: 9000;
  transform: translate(-50%, -50%);
  filter:invert(100%);
  pointer-events: none;
  mix-blend-mode:difference;

  &:after {
    position: absolute;
    left: 0;
    top: 0;
    content:'';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    transition: .5s;
    background-color: #000;

  }

}

a {
  text-decoration: none;
  color: #fff;

  &:hover{
    & ~ #cursor {
      &:after {
        width: 100px;
        height: 100px;
      }
    }
  }
}

p {
  font-size: 1.250em;
  line-height: 1.4;

  a {
    border-bottom: 1px solid #fff;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Blinker", sans-serif;
  font-weight: 100;
  font-variation-settings: "wght" 50;
  transition: font-variation-settings 0.4s;
}

h1 {
  font-size: 4.67em;
  font-weight: 600;
  margin: 0.47em 0;
}

h2 {
  font-size: 3.75em;
  font-weight: 600;
  margin: 0.63em 0 ;
}

h3 {
  position: relative;
  font-size: 2.92em;
  font-weight: 600;
  margin: 0.83em 0 ;
}

h4 {
  position: relative;
  font-size: 2.00em;
  font-weight: 400;
  margin: 1em 0 ;
}

h5 {
  position: relative;
  font-size: 1.50em;
  font-weight: 400;
  margin: 1.20em 0 ;

}



.row {
  max-width: 1080px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: baseline;
}

.container {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.full-container {
  height: 100vh;
  width: 100vw;
}

.base-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.content-block {
  margin-bottom: 3em;

  &:nth-of-type(2) {
    animation-delay: .6s;
  }


  & h5 {
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.full-height {
  min-height: 100vh;
  height: 100%;
}

.black {
  background-color: #111;
}

.button {
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: .6em 1em;
  border: 1px solid #fff;
  border-radius: 100px;
  background-color: rgba(0,0,0,0.0);
  margin-top: 50px;
  transition: .6s;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}

.back-button {
  position: fixed;
  z-index: 1001;
  left: 50%;
  top: 2rem;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: #111;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s ease-in-out;
    transition-delay: .6s;
    opacity: 0;
    transform: translateY(100%);

    & img {
      margin-right: 10px;
    }

    &.show {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  &--black {
    border: none;
    background-color: #111111;
    border-radius: 100%;
    width: 40px;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.20);
    -moz-box-shadow:  0px 0px 10px 10px rgba(0,0,0,0.20);
    box-shadow:  0px 0px 10px 10px rgba(0,0,0,0.20);
  }

  & img {
    width: 18px;
  }
}

.home-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8em;
  display: flex;
  align-items: center;
}

.bottom-fix {
  margin-bottom: 400px;
}

.icon {
  width: 15px;

  &__left {
    margin-right: 10px;
  }
}

