@font-face {
  font-family: "Blinker";
  src: url("../Font/Blinker_variable.ttf") format("ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Lato-regular";
  src: url("../Font/Lato-Regular.ttf") format("ttf");
}