.nav {
  position: fixed;
  top:0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 0 2rem;

  &__hamburger {
    width: 50px;
    height: 50px;
    background-color: #111;
    overflow: hidden;
    border-radius: 25px;
    transition: .6s;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.active {
      & > .nav__hamburger-icon {
        transform: translateX(-30px);
        background: transparent;
        &:before {
          transform: rotate(45deg)  translate(21px, -21px);
        }
        &:after {
          transform: rotate(-45deg) translate(21px, 21px) ;
        }
      }
    }
  }


  &__hamburger-icon {
    position: relative;
    width: 20px;
    height: 3px;
    background-color: #fff;
    transition: all .4s ease-in-out;

    &:before, &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      transform: translateY(-8px);
      transition: all .4s ease-in-out;
      background-color: #fff;
    }

    &:before {
      transform: translateY(8px);
    }
  }

}

.main-menu {
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #111;
  z-index: 111;

  &__links {
    display: flex;
    flex-direction: column;
    & h1 {
      position: relative;
      font-size: 5em;
      text-transform: uppercase;
      color: #fff;
      position: relative;
      margin: 0.15em;
      display: inline-block;
    }
  }

  .base-center {
   display: flex;
   width: 100%;
   padding: 0 10em;
   justify-content: space-between;
    align-items: center;
  }

  p{
    line-height: 1.6;
  }
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.is-active {
  h1 {
    border-bottom: 6px solid #fff;
  }
}